
     @font-face {
	 font-family: "Emblema One";
	 src: url("fonts/EmblemaOne-Regular.woff"),
	      url("fonts/EmblemaOne-Regular.ttf");
     }
     
      h1, h2 {
	  color: #778899;
      }
      h1 {
	 /* border-bottom: 1px solid black;*/
	  font-family: "Emblema One";
	  font-size: 200%;
	  color: grey;
	  text-align:center
      }
      h2 {
	  font-size: 130%;
	  padding-left: 30px;
      }
      body {
	  background-color: #F5F5F5;
	  /*margin-left: 20%;
	  margin-right: 20%;*/
	  margin: 0px;
	  /*border: 2px dotted black;*/
	  padding: 30px 30px 30px 30px;
	  font-size: small;
	  font-family: Georgia, "Times New Roman", Times, serif;
	  line-height: 1.6em;
      }
      body.tech_used {
	  background-color: #eaf3da;
      }
      body.ferment {
	  background-image: url('images/water_kefir.jpeg');
	  background-size: contain;
      }
      
      em {
	  font-family: serif;
      }
      p {
	  color: #000000;
	  padding-left: 30px;
      }
      p.t_automation {
	  color: #666464;
      }
      p.p_isolate {
	  color: #9FE2BF;
      }
      blockquote.cozy {
	  color: purple;
      }
      #testing{
	  border-width: 1px;
	  border-style: dashed;
	  border-color: white;
	  border-top-left-radius: 40px;
	  border-top-right-radius: 40px;
	  border-bottom-right-radius: 40px;
	  border-bottom-left-radius: 40px;
	  background-color: #D3D3D3;
	  padding: 25px;
	  padding-left: 80px;
	  margin: 30px;
	  margin-right: 50px;
	  line-height: 1.9em;
	  font-style: italic;
	  color: #444444;
 	  font-family: Georgia, "Times New Roman", Times, serif;
	  background-image: url(images/star_background.gif);
	  background-repeat: no-repeat;
	  background-position: top left;
      }
      #work_life_posts{
	
	  text-align: left;

	  line-height: 1;
	  
      }
      #work_life_posts h2{
	  color: black;
      }
      #work_life_posts h3{
	  color: #d12c47;
      }
      .tool {
	  font-weight: bold;
      }
      .usage {
	  font-style: italic;
      }

      a:hover {
	  background: #FFF0F5;
	  color: #0d5353;
      }

     aside {
	  display: table-cell;
	  background:       #C7A7A7 url(images/background.gif) bottom right;
	  font-size:        105%;
	  padding:          15px;
	  vertical-align: top;
      }
      

      .automationheading {
  text-align:       center;
  line-height:      1.8em;
}

      a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}
#tableContainer {
	display: table;
	border-spacing: 0px;
}

#tableRow {
	display: table-row;
}

header {
	/*background-color: #675c47;*/
	margin: 10px 10px 0px 10px;
	height:           108px;
}
/*
#header img#headerSlogan {
	float: right;
}*/
section#previous_tech {
    display: table-cell;
    background-color: #C7A7A7;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}

section#main section, #work_life_posts{
  display: table-cell;
  background:       #C7A7A7 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

      footer {
	  background-color: #C7A7A7;
	  color: #666464;
	  text-align: center;
	  padding: 15px;
	  margin: 0px;
	  font-size: 90%;
	  clear: right;
      }
#transform {
position: fixed;
top: 350px;
left: -10px;
}

#transform a, img {
border: none;
}

nav {
    background-color: #C7A7A7;
	margin: 10px 0px 0px 0px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 5px 5px 5px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #666464;
	border-bottom: none;
	font-weight: bold;

/*
	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase;
*/
}
nav ul li.selected {
    background-color: #C0C0C0;
    margin: 0px;
}

table {
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
    caption-side: bottom;
    border-collapse: collapse;
}
td, th {
border: thin dotted gray;
padding: 5px;
}
     
caption {
font-style: italic;
padding-top: 8px;
}

.center {
  text-align:       center;
}

th {
background-color: #FFF0F5;
}

.cellcolorkefir {
background-color: #9CAF88;
}

.cellcolorkombucha {
background-color: #BF5700;
}
