
     @font-face {
	 font-family: "Emblema One";
	 src: url("fonts/EmblemaOne-Regular.woff"),
	      url("fonts/EmblemaOne-Regular.ttf");
     }
     
      h1, h2 {
	  color: #007e7e;
      }
      h1 {
	 /* border-bottom: 1px solid black;*/
	  font-family: "Emblema One";
	  font-size: 200%;
	  color: grey;
	  text-align:center
      }
      h2 {
	  font-size: 130%;
      }
      body {
	  background-color: #d2b48c;
	  /*margin-left: 20%;
	  margin-right: 20%;*/
	  margin: 0px;
	  /*border: 2px dotted black;*/
	  padding: 10px 10px 10px 10px;
	  font-size: small;
	  font-family: Georgia, "Times New Roman", Times, serif;
	  line-height: 1.6em;
      }
      body.tech_used {
	  background-color: #eaf3da;
      }
      
      em {
	  font-family: serif;
      }
      p {
	  color: maroon;
      }
      p.t_automation {
	  color: green;
      }
      p.p_isolate {
	  color: blue;
      }
      blockquote.cozy {
	  color: purple;
      }
      #testing{
	  border-width: 1px;
	  border-style: dashed;
	  border-color: white;
	  border-top-left-radius: 40px;
	  border-top-right-radius: 40px;
	  border-bottom-right-radius: 40px;
	  border-bottom-left-radius: 40px;
	  background-color: #a7cece;
	  padding: 25px;
	  padding-left: 80px;
	  margin: 30px;
	  margin-right: 50px;
	  line-height: 1.9em;
	  font-style: italic;
	  color: #444444;
 	  font-family: Georgia, "Times New Roman", Times, serif;
	  background-image: url(images/star_background.gif);
	  background-repeat: no-repeat;
	  background-position: top left;
      }
    /*  #work_life_posts{
	  border-width: thin;
	  border-style: solid;
	  border-color: #007e7e;
	  width: 700px;

	  /*padding-right: 20px;
	  padding-bottom: 20px;
	  padding-left: 20px;
	  padding: 0px 20px 20px 20px;*/
	  padding: 20px;

	  margin-left: 20px;
	  text-align: left;

	  line-height: 1;
	  
      }*/
      #work_life_posts h2{
	  color: black;
      }
      #work_life_posts h3{
	  color: #d12c47;
      }
      .tool {
	  font-weight: bold;
      }
      .usage {
	  font-style: italic;
      }

      a:hover {
	  background: #f88396;
	  color: #0d5353;
      }

     aside {
	  display: table-cell;
	  background:       #efe5d0 url(images/background.gif) bottom right;
	  font-size:        105%;
	  padding:          15px;
	  vertical-align: top;
      }
      

      .automationheading {
  text-align:       center;
  line-height:      1.8em;
}

      a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}
#tableContainer {
	display: table;
	border-spacing: 10px;
}

#tableRow {
	display: table-row;
}

header {
	/*background-color: #675c47;*/
	margin: 10px 10px 0px 10px;
	height:           108px;
}
/*
#header img#headerSlogan {
	float: right;
}*/
section#previous_tech {
    display: table-cell;
    background-color: #efe5d0;
    width: 20%;
    padding: 15px;
    vertical-align: top;
}

section#main section, #work_life_posts{
  display: table-cell;
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  vertical-align: top;
}

      footer {
	  background-color: #675c47;
	  color: #efe5d0;
	  text-align: center;
	  padding: 15px;
	  margin: 10px;
	  font-size: 90%;
	  clear: right;
      }
#transform {
position: fixed;
top: 350px;
left: -10px;
}

#transform a, img {
border: none;
}

nav {
    background-color: #efe5d0;
	margin: 10px 10px 0px 10px;
}
nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 0px;
}
nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}
nav ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;

/*
	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase;
*/
}
nav ul li.selected {
	background-color: #c8b99c;
}
